{% extends "forum/base.html" %}
{% block content %}
<br><br>
<br><br><br>
<div class="container">
    <h1> 計然會是什么？</h1>
    <p class="lead" style="font-size:16px">

    計然會(jiranhui.com) 创立于2015年10月，宗旨是提供一个独立而高质量的平台，让优秀投资人分享中国，香港，及其他亚洲上市公司的股票，当前最优的投资主意，及其调研结果。网站目前仍在构建阶段。
    <br><br>
    計然會的会员资格免费，然而，申请者只会因投资能力而被录取。入会申请将由数位在美国及中国的大型对冲基金人士评判。最终成员数量将有所限制。申请人的思考过程和研究的质量将成为录取的主要标准。
    <br><br>
    計然會主要欢迎基于企业基本面价值和特殊情况的分析和投资主意；我们也同样欢迎看空，固定收益，及困境重组类的投资。会员递交的主意应聚焦在中国，香港，及其他亚洲地区，并应以中文填写。当然，我们同样欢迎以英文撰写的主意。

    </p>
    <br><br>
    <h1>成立宗旨</h1>
    <p class="lead" style="font-size:16px">
    平心而论，目前中国就股票二级市场的交流平台远远称不上成熟。各大传统意义上的股票论坛上，由于准入门槛的缺失，使得参与者水准良莠不齐，其洞见和研究结果多数有待提高，接而不仅容易导致优秀参与者的流失，沧海遗珠更是不少；而传统意义上的券商分析则可能因相关利益，资源限制，和集体思维，难以时刻保持及时，公正，和客观。另外，很多分析师不得不放弃或忽略体积略小，不被市场追捧，和正在经历变革或重组中的公司，但利润最丰厚的机会往往会从这里产生。
    <br><br>

    計然會这样的平台，美国如valueinvestorsclub.com已经运行了有十余载。其专业性及对投资人的帮助已经受到广泛的肯定。我们认为，这种基于预选精明投资者的投资平台，中国也应该有。由于所有会员皆因投资及思考能力而被接纳，本会对所有成员来讲都应是一个宝贵的资源。各行业人士，无论是科学家，律师，亦或是工程师，创业者，和金融家，皆可以自身角度对会内的讨论做出贡献。唯一的共同点是，每一个成员都将精通财务分析和投资。
    <br><br>

    貴出如糞土，賤取如珠玉。优秀的投资主意在这里将被一群志同道合的人重视而共享。


    </p>
</div>


{% endblock %}
