{% extends "forum/base.html" %}
{% block content %}
<br><br>
<br><br><br>
<div class="container">


    <h1>申请步骤</h1>
    <p class="lead" style="font-size:16px">
    每一个潜在的成员必须于本网站提交一份投资建议。申请人的思考过程和研究的质量将成为录取的主要标准。
    <br><br>
    一旦被接纳，每个成员必须于本网站每年张贴至少2个投资主意，并评审不少于20个投资主意。由于本会的目标是为了让会员共享他们最优的投资主意，每年可提交的主意不可超过5个。每个主意将会有独自的留言板。
    <br><br>
    对于提交投资无关，非建设性，违法，及/或具低俗或具煽动性言论的会员，我们保持取消其会员资格的权利。

	</p>
	<br><br>
    <h1>常见问题</h1>
    <br>
    <h3>计然会的会员要求是什么？</h3>
    <p class="lead" style="font-size:16px">
    根据每个会员的周年纪念日，每个成员必须于本网站每年张贴至少2个投资主意，并评审不<u>少于20个投资主意。由于本会的目标是为了让会员共享他们最优的投资主意，每年可提交的主意不可超过5个</u>。只有高品质的主意才会被计入会员资格的要求。请不要等到最后时刻来提交主意以满足您的年度要求。如果周年日的前一个月，您还没有提交任何主意，你的下一个想法将受到会员投票，以确定它是否应该计算在内。
	</p>
    <br><br>
	<h3>我的主意应于何时前递交？</h3>
	<p class="lead" style="font-size:16px">

	每个成员的两个主意应于他/她加入计然会的每年周年纪念日前递交。每个成员的周年纪念日会在“我的会员页面”上显示。
	</p>


	 <br><br>
    <h3>除了以上的要求之外，对计然会会员还有什么期望？</h3>
    <p class="lead" style="font-size:16px">
    会员应在打分前详细阅读其他会员递交的投资主意。如果评分很高或很低，请不吝给予评论，但无需指出您给予的评分。这种评级会让其他会员更注意日后的递交。另外，仔细回答您主意名下认真的问题是优秀会员分内的事。
	</p>
    <br><br>


	<h3>基于一个主意上评论的期望是怎样的？</h3>
	<p class="lead" style="font-size:16px">
		我们期望每一个评论的会员在评论前已经至少做好基本调研。如果回复中将指出主意上的缺陷或代表了反对意见，会员发言前更应深思熟虑。
	</p>
	<br><br>


	<h3>完不成以上的会员要求怎么办？</h3>
	<p class="lead" style="font-size:16px">
		你将需要重新激活你的账户—成员需要提交一个主意，计然会的成员会对此投票表决。如果超过2/3的 成员认为你的主意应算入会员资格内，你的会员资格将被重新激活。如果一个成员拖欠了2个主意，这个重新激活只会给予此成员6个月的资格。另外，我们不反对记然会会员对重新激活主意的评判提高审核标准。
	</p>
	<br><br>
	
	<h3>我能为自己的主题打分吗？</h3>
	<p class="lead" style="font-size:16px">
		没问题。只要你的评分是公正而客观的话。
	</p>
	<br><br>


	<h3>为什么我看不懂到一个主意的评级？</h3>
	<p class="lead" style="font-size:16px">
		一个主意的评级只有在超过6个会员评分之后才会被显示。
	</p>
	<br><br>

	<h3>记然会欢迎什么样的主意？</h3>
	<p class="lead" style="font-size:16px">记然会主要欢迎基于企业基本面价值和特殊情况的分析和投资主意；我们也同样欢迎看空，固定收益，及困境重组类的投资。会员递交的主意应聚焦在中国，香港，及其他亚洲地区，并应以中文填写。当然，我们同样欢迎以英文撰写的主意。
作为申请主意，我们同样接受欧美各地的标的。
</p><br><br>

<h3>我依然很喜欢过去我曾提交的一个主意，我能在重发一次并将其记入会员要求内吗？</h3>
<p class="lead" style="font-size:16px">
不可以。你仍然可以自由地重新发布过去的想法，但这个主意将不会被重复算入要求内。在原创洞见的前提下，你可以提交其他会员以前分享过的 主意。
</p><br><br>


<h3>我申请入会的主意将会被自动发布吗？</h3>
<p class="lead" style="font-size:16px">
记然会不会将申请入会的主意自动发布在网上。一旦被接纳，每个成员可以自由选择是否将这个主意发布。
</p>
<br><br>


<h3>为什么我的主意被移除了？</h3>
<p class="lead" style="font-size:16px">
偶尔会中成员会发布在细节和内容上不符合计然会标准的主意。记然会将会把这些主意移除，并不会将其算入会员年度要求内。幸运的是，这种情况相对罕见。
</p>
<br><br>


<h3>篇幅有限制吗？</h3>
<p class="lead" style="font-size:16px">
我们的数据库目前只能支持大概约5000字的主意及约1000字的评论。
</p>
<br><br>


<h3>我能将我的账户与他人共享吗？</h3>
<p class="lead" style="font-size:16px">
会员不应与他人共享登陆信息。每个会员应为计然会独立的 个体。如果您的朋友希望访问计然会，请建议他们独立申请。
</p><br><br>


<h3>我很喜欢一个会员的主意或评论，我能如何跟他/她取得联系？</h3>
<p class="lead" style="font-size:16px">
我们不促成会员之间的直接接触。如果您愿意讨论，请发表您的回复公众发表，以便所有成员收益。电子邮件地址和电话号码不应在本网站上公布。
</p><br><br>


<h3>“主题”专栏是什么？</h3>
<p class="lead" style="font-size:16px">
每个成员每年可以提出5个于投资有关，但与个股无关的主题。比如说，这个主题可以是宏观经济的讨论，某些行业的周期，亦或是政策变化对某些行业的影响.
</p><br><br>


</div>


{% endblock %}
