{% extends "forum/base.html" %}
{% block content %}
<br><br>
<h1></h1>

<br>
<div class="container">
    <div class="page-header">
        <h1>{{ idea.company }} </h1>
        <h3>{{ idea.title }}</h3>
        <h4>by {{ idea.author }} | {{idea.publish_date}}</h4>

     </div>
     <p class = "lead">{{idea.description|linebreaks}} </p>
</div>
<br><br>


{% for post in idea.comment_set.all|dictsort:"publish_date" %}
    <div class="container">
        <span class="title">{{ post.title }}</span><br />
        {{ post.author }} | <span class="date">{{ post.publish_date }}</span> <br /><br />
        {{ post.content }} <br />
    </div>
{% endfor %}
<br>
<div class="container">
    <h4> New Comment </h4>
    <a class="btn btn-default" href="{% url "comment_add" pk=idea.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
</div>

{% endblock %}
