{% extends "forum/base.html" %}
{% block content %}

<style>
/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  color: #5a5a5a;
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #eee;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}
</style>

    <div id="myCarousel" class="carousel slide" data-ride="carousel">

      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img class="first-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1 align="left" style ="color:#6495ED; font-size:40px">計然會</h1>
              <p>計然會(jiranhui.com) 创立于2015年10月，宗旨是提供一个独立而高质量的平台，让优秀投资人分享中国，香港，及其他亚洲上市公司的股票，当前最优的投资主意，及其调研结果。网站目前仍在构建阶段。
          <br><br>
          計然會的会员资格免费，然而，申请者只会因投资能力而被录取。入会申请将由数位在美国及中国的大型对冲基金人士评判。最终成员数量将有所限制。申请人的思考过程和研究的质量将成为录取的主要标准。
          <br><br>
          計然會主要欢迎基于企业基本面价值和特殊情况的分析和投资主意；我们也同样欢迎看空，固定收益，及困境重组类的投资。会员递交的主意应聚焦在中国，香港，及其他亚洲地区，并应以中文填写。当然，我们同样欢迎以英文撰写的主意。</p>
            </div>
          </div>
        </div>

    </div>


        <div class="container marketing">

      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <p class="lead">        
            計然會(jiranhui.com) 创立于2015年10月，宗旨是提供一个独立而高质量的平台，让优秀投资人分享中国，香港，及其他亚洲上市公司的股票，当前最优的投资主意，及其调研结果。网站目前仍在构建阶段。
          <br><br>
          計然會的会员资格免费，然而，申请者只会因投资能力而被录取。入会申请将由数位在美国及中国的大型对冲基金人士评判。最终成员数量将有所限制。申请人的思考过程和研究的质量将成为录取的主要标准。
          <br><br>
          計然會主要欢迎基于企业基本面价值和特殊情况的分析和投资主意；我们也同样欢迎看空，固定收益，及困境重组类的投资。会员递交的主意应聚焦在中国，香港，及其他亚洲地区，并应以中文填写。当然，我们同样欢迎以英文撰写的主意。
        </p>
        </div>
        <div class="col-md-5">
          
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <img class="featurette-image img-responsive center-block" src="https://raw.githubusercontent.com/stphnma/investor_club/master/forum/Images/box.png" alt="Generic placeholder image">
        </div>
        <div class="col-md-5 col-md-pull-7">
          <p class = "lead"> 計然會与其他平台的核心价值区别在哪里？ </p>

        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->


      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2014 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>

    </div><!-- /.container -->

{% endblock %}