{% extends "forum/base.html" %}
{% block content %}

  <div class="jumbotron">
      <div class="container">
        <h1>Chinese Investor Club</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        <p><a class="btn btn-primary btn-lg" href="{% url 'new_idea' %}" role="button">New Idea &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      {% for idea in idea_list %}

      <div class="row">
        <div class="col-md-4">
          <h2>{{idea.title}}</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" role="button" href="{% url 'idea_detail' pk=idea.pk %}">View details &raquo;</a></p>
        </div>

      </div>
      {% endfor %}

      <hr>

      <footer>
        <p>&copy; Company 2014</p>
      </footer>
    </div> 

{% endblock %}