{% extends "forum/base.html" %}
{% block content %}

  <div class="jumbotron">
      <div class="container">
        <h1 >優秀的投資主意沒有邊界</h1>
        <p><a class="btn btn-primary btn-lg" href="{% url 'new_idea' %}" role="button">发布新主意 &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      {% for idea in idea_list %}
      <div class="row">
        <div class="col-md-4">
          <h2>{{idea.company}}</h2>
          <p>{{idea.title}} </p>
          <p><a class="btn btn-default" role="button" href="{% url 'idea_detail' pk=idea.pk %}">查看详情 &raquo;</a></p>
        </div>

      </div>
      {% endfor %}

      <hr>

      <footer>
        <p>&copy; Jiranhui 2015</p>
      </footer>
    </div> 

{% endblock %}